* {
  /* border: 1px solid red; */
}
.Portrait {
  width: 100%;
  display: flex;
}
.Portrait > img {
  position: absolute;
  right: 15em;
}
.portrait-photo {
  opacity: 0.9;
  width: 28em;
  height: 28em;
  z-index: 2;
}
.portrait-composition {
  width: 30em;
  height: 30em;
}
.grayscale {
  filter: grayscale(0.8);
}
