.Profile {
  width: calc(100% - 20em);
  height: 90vh;
  padding-left: 10em;
  padding-right: 10em;
  background-color: var(--background-color-accent);
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 0.2) 20%,
    var(--background-color-accent) 60%
  );
}

.profile--info {
  display: flex;
  height: 80vh;
}

.info--description {
  z-index: 2;
  display: flex;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2em;
}

.greeteng {
  font-weight: 200;
}
.gradient-text-container {
  position: sticky;
  top: -20px;
  z-index: 10;
  display: flex;
  align-items: center;

}
.nickname-container {
  content: "";
  display: flex;
  align-items: center;
  height: 1.1em;
  font-size: 2em;

  height: 2em;

  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.job-status {
  line-height: 1em;

  
}
.about-me.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 1em;
  font-size: 1em;
  padding: 0.3em;
  max-width: 10em;
  margin-top: 1em;
  background-color: var(--color-accent);
  color: inherit;
  border: none;
  border-radius: 0.2em;
  transition: background-color .15s;
}
.about-me.btn:hover,
.about-me.btn:focus {
  background-color: var(--color-accent2);
}
.Cube {
  display: flex;
  width: 100%;
}
.cube-img {
  height: 100%;
  transition: filter(1s);

}
