.About {
  position: relative;
  display: inline-block;
  height: 100vh;
  width: 100%;
}
.about-main {
  height: 90vh;
  position: relative;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: var(--background-color-accent);
  background: linear-gradient(
    -50deg,
    rgba(0, 0, 0, 0.2) 20%,
    var(--background-color-accent) 60%
  );
}
.about-bg-img,
.about-bg-vid {
  opacity: 0.75;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 90%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.about-description {
  text-align: justify;
  font-weight: 300;
  font-size: 1.75em;
  line-height: 1.5em;
  position: absolute;
  z-index: 2;
  padding: 2em;
  right: 2em;
  width: 20em;
  height: 30em;
}
.about-section-scroll{
  margin-top: -1em;
}