:root {
  font-family: Geometria, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color: #ffffff;
  --color-accent: #4175d0;
  --background-color: #242424;
  --background-color-dark: #222222;
  --background-color-light: #323232;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background-color-dark);
}
* {
  margin: 0;
  padding: 0;
  transition: opacity 0.5s;
  /* outline: 1px solid rgba(255, 0, 0, 0.2); */
}
body {
  height: 1000vh;
  /* scroll-behavior: smooth; */
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 200, "opsz" 40;
}
