:root {
  font-family: Geometria, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color: #ffffff;
  --color-accent: #1387b8;
  --color-accent2: #c850c0;
  --color-accent3: #ffcc70;
  --background-color: #242424;
  --background-color-dark: #222222;
  --background-color-accent: #222630;
  --background-color-light: #323232;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background-color-dark);
}
* {
  margin: 0;
  padding: 0;
  transition: opacity 0.5s, font-size 0.5s;
  /* outline: 1px solid rgba(255, 0, 0, 0.2); */
}
body {
  height: max-content;
  /* scroll-behavior: smooth; */
}
html {
  scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 200, "opsz" 40;
  user-select: none;
}
a,
button {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

@media all and (max-width: 1064px) {
  .Cube,
  .about-bg-img,
  .info-img,
  .cube-img {
    position: absolute;
    opacity: 0.1;
    /* display: none; */
  }
  .info-img
{
    width: 100vw;
  }
  .Projects{
    width: 100vw;
  }
  .about-description{
    width: 100vw;
    font-size: 1em;
    position: relative;
  }
  .about-description-text{
    padding-right: 1em;
  }
  .links-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .projects-grid {
    padding-right: 0;
    grid-template-columns: 1fr;
  }
  .Nickname{
    margin-top: calc((80vh - 8em) / 2);
left: 2em;
  }
  .about-description {
    padding: 1em;
  }
  body {
    font-size: 12px;
  }
}
